:root {
  --text: #d4c6d4;
  --background: #292934;
  --primary: #8A0899;
  --secondary: #dbadff;
  --accent: #361397;
  --linearPrimarySecondary: linear-gradient(#8A0899, #dbadff);
--linearPrimaryAccent: linear-gradient(#8A0899, #361397);
--linearSecondaryAccent: linear-gradient(#dbadff, #361397);
--radialPrimarySecondary: radial-gradient(#8A0899, #dbadff);
--radialPrimaryAccent: radial-gradient(#8A0899, #361397);
--radialSecondaryAccent: radial-gradient(#dbadff, #361397);
--linearSecondaryPrimary:linear-gradient( #dbadff,#8A0899);
--radialAccentPrimary: radial-gradient(#361397,#8A0899);

}
body{
  background-color: var(--background);
  color:white;
}


.App {
  text-align: center;
}

header{
  background: linear-gradient(var(--background),black);
  padding: 20px;
 
}
header h1{
  color:var(--primary)
}
nav ul {
  list-style-type: none;
  padding:10px;
  display: flex;
  justify-content: space-around; /* Distribute space evenly between items */
  align-items: center; /* Align items vertically centered */
  margin: 0px;
  background-color:var(--sec);
}

nav li {
  margin: 0 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: var(--secondary);
}

nav li:hover{

  color: var(--primary);
}

nav li button {
  margin-left: 5px; /* Add some space between the category name and the edit button */
}

.navbar{
  color:black;
}
.product-form {
  border: 1px solid #ddd;
  padding: 20px;
  margin: 20px;
  text-align: left;
}

.product-form button {
  background-color:var(--primary);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 10px;
}

.product-form button:hover {
  background-color:var(--accent);
}

.product-form form {
  display: flex;
  flex-direction: column;
}

.product-form form label {
  margin-bottom: 10px;
}

.product-form form input,
.product-form form textarea {
  margin-bottom: 10px;
}

.category-selector {
  margin: 20px;
}

.category-selector label {
  font-size: 18px;
  margin-right: 10px;
}
.floating-button {
  background: var(--linearSecondaryPrimary);
  color: white;
  border: none;
  width: 60px;
  height: 60px;
  cursor: pointer;
  font-size: 30px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.floating-button:hover {
  background: var(--linearPrimarySecondary);
}


.gradient-text {
  background: var(--linearPrimaryAccent);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid white;
  padding: 8px;
  text-align: left;
 
}

th {
  background-color: var(--secondary);
  color:var(--background);
}

button {
  margin: 5px;
}
.edit {
  cursor: pointer;
  background: url(../public/edit.jpeg);
  background-repeat: no-repeat;
  background-size: 165%;
  background-position: -13px;
  border-radius: 50%;
  border: none;
  height: 40px;
  width: 40px;
  position: relative; /* Ensure the button is relative for absolute positioning of pseudo-element */
}

.edit:hover::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(204, 67, 254, 0.25); /* Adjust opacity and color as needed */
  border-radius: 50%;
}

.delete {
  cursor: pointer;
  background: url(../public/bin.jpeg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0px;
  border-radius: 50%;
  border: none;
  height: 40px;
  width: 40px;
  position: relative; /* Ensure the button is relative for absolute positioning of pseudo-element */
}

.delete:hover::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(204, 67, 254, 0.25); /* Adjust opacity and color as needed */
  border-radius: 50%;
}

